{#
/**
 * @file
 * Theme override to display a node.
 *
 * @see template_preprocess_node()
 *
 */
#}

{% set classes = [
  'node',
  'node--type-' ~ node.bundle|clean_class,
  not node.isPublished() ? 'node--unpublished',
  view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
] %}
{{ attach_library('bootstrap5/node') }}
{% set account_icon = path_images ~ '/icons/account.svg' %}
<article{{ attributes.addClass(classes) }}>
  <div class="node__eyebrow">
    <div class="node_eyebrow--author">
      <a href="{{ topic_author.user_link }}">
        {% if topic_author.user_image %}
          {{ topic_author.user_image | style_image('large_avatar') }}
        {% elseif default_avatar %}
          <img class="node_eyebrow--default-icon" src="{{ default_avatar }}" alt=""/>
        {% else %}
          <div class="node_eyebrow--default-icon" aria-hidden="true">
            {{ source(account_icon) }}
          </div>
        {% endif %}
        <div class="node_eyebrow--author-meta">
          <p class="username">{{ topic_author.username }}</p>
          {% if topic_author_joined is defined %}
            <p class="node_eyebrow--joined">{{ 'Присоединился:'|t }} {{ topic_author_joined }} {{ 'назад'|t }}</p>
          {% endif %}
        </div>
      </a>
    </div>
    {% if node_edit is not empty %}
      <div class="node_eyebrow--edit">
        <a class="edit-discussion" href="{{ node_edit }}">{{ source("/themes/custom/elfbv/assets/media/icons/pencil-gray.svg") }}</a>
      </div>
    {% endif %}
  </div>
  <div class="node__title">
    <h2{{ title_attributes }}><a href="{{ url }}">{{ label }}</a></h2>
  </div>
  <div class="node__tags">
    {% if is_new is defined and is_new %}
      <span class="node__tag node__tag--new">{{ 'NEW'|t }}</span>
    {% endif %}
    {% if topic_category.url is defined and topic_category.url %}
      <a href="{{ topic_category.url }}" class="node__tag node__tag--category">
        {{ render_reference_icon(topic_category.icon) }}
        {{ topic_category.title }}
      </a>
    {% endif %}
  </div>
  <div class="node__content">
    {{ content.content| render | striptags | truncate(300, true, true) | raw }}
    {{ content.image_preview }}
    <a href="{{ url }}" class="node__read-more">{{ 'Читать полностью'|t }}</a>
  </div>
  <div class="node__footer">
    <div class="footer__left">
      <span class="comments-count">{{ topic_comments_count_label is defined ? topic_comments_count_label : topic_comments_count }}</span>
      <div class="node-likes-dislikes">{{ content.like_and_dislike }}</div>
      <a href="#" class="node__footer-action node__footer-action--share" aria-label="{{ 'Поделиться'|t }}">{{ source(path_images ~ '/icons/share.svg') }}</a>
      <a href="#" class="node__footer-action node__footer-action--bookmark" aria-label="{{ 'В закладки'|t }}">{{ source(path_images ~ '/icons/star.svg') }}</a>
    </div>
    <div class="footer__right">
      {% if topic_date_footer is defined %}
        <span class="node__footer-date">{{ topic_date_footer }}</span>
      {% endif %}
      <div class="node-view-count">
        <span class="count-value">{{ view_total_count ? view_total_count : 0 }}</span>
      </div>
    </div>
  </div>

</article>
