{#
/**
 * @file
 * Theme override to display a node.
 *
 * @see template_preprocess_node()
 *
 */
#}
{% set classes = [
  'node',
  'node--type-' ~ node.bundle|clean_class,
  not node.isPublished() ? 'node--unpublished',
  view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
] %}
{{ attach_library('bootstrap5/node') }}
<article{{ attributes.addClass(classes) }}>
  <div class="node__title">
    <h2{{ title_attributes }}>{{ label }}</h2>
  </div>
  <div class="node__content">
    {{ content.answer }}
    {% if content.search_api_excerpt %}
      <div class="found-part">
        {{ content.search_api_excerpt }}
      </div>
    {% endif %}
  </div>
  <div class="node__footer">
    <div class="footer__left">
      <div class="node-footer--author">
        <a href="{{ author.user_link }}">
          {{ author.user_image }}
          <p class="username">{{ author.username }}</p>
        </a>
      </div>
      <div class="node-footer--date">
        <p class="date">{{ date }}</p>
      </div>
      <div class="node-footer--node-type">
        <p class="type">{{ node_type }}</p>
      </div>
      <div class="node-footer--category">
        <span class="category-title">{{ category_title }}</span>
      </div>
    </div>
  </div>
</article>
